@model IEnumerable<testfan2.Models.FantasyLeague>

@{
    ViewBag.Title = "Leagues";
}
<style>
    td,th{
        border-bottom: solid 5px;
    }
    td a:hover{
        background-color: white;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Add New League", "Create")
</p>
<table class="actionbox ashbox">
    <tr>
        <th>
            <h3>League Tables</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FantasyLeagueName)
        </td>
        <td >
           
            <p class="button floatright">
                @Html.ActionLink("Details", "Details", new { id = item.FantasyLeagueId }) </p>
               
</td>
    </tr>
}

</table>
