@model bool?

@if (Model)
    { <span class="label label-success">Add</span> }
    else
    { <span class="label label-warning">Remove</span> }
}

else
{ <span class="label label-info">Not Set</span> }



